:root {
    --font-family: Arial, sans-serif;
}

body {
    background-color: #3d3935;
    color: #ffeddb;
    font-family: var(--font-family);
}

#list {
    display: flex;
    flex-flow: column wrap;
    row-gap: 1.25rem;
}